extends layout/main

block content
  h1= title
  p Welcome to #{title}
  div.row#row-content
    div.card.col-sm-4#card-padding
        img.card-img-top(src="img_avatar1.png" alt="Card image")
        div.card-body
          h4.card-title John Doe
          p.card-text Some example text.
          a.btn.btn-primary(href="#") See Profile
    div.card.col-sm-4#card-padding
        img.card-img-top(src="img_avatar1.png" alt="Card image")
        div.card-body
          h4.card-title John Doe
          p.card-text Some example text.
          a.btn.btn-primary(href="#") See Profile
    div.card.col-sm-4#card-padding
        img.card-img-top(src="img_avatar1.png" alt="Card image")
        div.card-body
          h4.card-title John Doe
          p.card-text Some example text.
          a.btn.btn-primary(href="#") See Profile
    div.card.col-sm-4#card-padding
        img.card-img-top(src="img_avatar1.png" alt="Card image")
        div.card-body
          h4.card-title John Doe
          p.card-text Some example text.
          a.btn.btn-primary(href="#") See Profile