body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

#card-padding {
  margin: 0.6em;
}
